<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is a form</h1>
        <table>
            <form action="/signup" method="post">
                <tr>
                    <td><label for="name">
                        Name:
                    </label></td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td><label for="ID">
                        ID:
                    </label></td>
                    <td>
                        <input type="number" name="idnum">
                    </td>
                </tr>
                <tr>
                    <td><label for="Phone">
                        Phone Number:
                    </label></td>
                    <td>
                        <input type="tel">
                    </td>
                </tr>
                <tr>
                    <td><label for="dob">
                        DOB:
                    </label></td>
                    <td>
                        <input type="date">
                    </td>
                </tr>
                <br>
                <tr>
                    <td><label for="gender">
                        gender:
                    </label></td>
                    <td>
                        <input type="radio" name="gender" value="male"> Male
                        <input type="radio" name="gender" value="female"> Female
                        <input type="radio" name="gender" value="other"> Other
                    </td>
                    <tr>
                        <td><label for="submit">
                        </label></td>
                        <td>
                            <input type="submit">
                        </td>
                    </tr>
                </tr>
            </form>
        </table>
    </center>
</body>
</html>